@import "tailwindcss";
/* Swiper CSS */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css/effect-fade";

:root {
  --background: #14182b;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #20253b;
  border-radius: 9999px;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #1c2236 inset !important;
    -webkit-text-fill-color: #ffffff !important;
    caret-color: white;
    transition: background-color 9999s ease-in-out 0s;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: white; /* ganti warna panah */
  width: 2rem; /* lebar panah */
  height: 2rem; /* tinggi panah */
}
